@import 'libs/bootstrap-reboot.min';
@import 'base/mixins';
@import 'base/variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: $second-color;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    height: 3px;
    width: 100px;
    background-color: $average-color;
    margin: 20px 0 20px 20px;
}

@import 'blocks/header';
@import 'blocks/carousel';
@import 'blocks/title';
@import 'blocks/btns';
@import 'blocks/math';
@import 'blocks/ready';
@import 'blocks/media';