.footer {
    margin-top: 50px;
    padding: 50px 0 50px 0;
    background-color: $main-color;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__copy {
        color: #fff;
    }
}