.main {
    &__theme-button {
        margin-top: 25px;
        padding: 10px;
        background-color: $botton-color;
        color: #fff;
        border-radius: 15px;
        position: relative;
    }
    &__list {
        display: none;
        position: absolute;
    }
    &__link {
        display: block;
        padding-left: 15px;
    }
}
.fa-angle-down {
    transition: all 0.6s;
}
.show {
    display: block;
}