@media (max-width: 1200px) {

}

@media (max-width: 992px) {
   .container {
        width: 900px;
   }
   .math {
        &__descr {
            padding-bottom: 30px;
        }
   }
   .ready {
        padding-bottom: 25px;
   }
   .physics {
        &__descr {
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 750px;
    }
    .header {
        &__list {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0, .8);
            transition: 0.6s all;
            &__active {
                left: 0;
            }
        }
        &__item {
            padding-right: 0;
            border: none;
            margin: 10px 0;
        }
        &__link {
            font-size: 20px;
        }
    }
    .ready {
        &__advantages {
            padding-right: 15px;
            padding-left: 15px;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            row-gap: 15px;
        }
    }
    .burger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50px;
        transform: translateY(-50%);
        width: 30px;
        height: 18px;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 2px;
            transition: all 0.6s;
        }
        &__active {
            span {
                margin-bottom: -3px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }

				&:nth-child(2) {
                    display: none;
                }

				&:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .footer__advice {
        display: none;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .math {
        &__wrapper{
            display: grid;
            grid-template-rows:250px minmax(250px, auto);
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        &__descr {
            padding-left: 30px;
        }
        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__divider {
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        &__btn {
            &-block {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .ready {
        &__advantages {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .physics {
        &__wrapper{
            display: grid;
            grid-template-rows: minmax(250px, auto) 250px;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        &__descr {
            padding-left: 30px;
        }
        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__divider {
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        &__btn {
            &-block {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .main {
        &__theme {
            margin-left: 25px;
        }
    }
    .about {
        &__text {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .footer__advice {
        display: none;
    }
}

@media (max-width: 320px) {
    .container {
        width: 100%;
    }
    .footer__advice {
        display: none;
    }
}