/* iPad Pro Landscape mode */

@media (max-width: 1366px) {
    .navbar {
        &__link {
            transform: none;
            &:hover {
                letter-spacing: normal;
            }
        }
    }
    .btn {
        box-shadow: none;
    }
}

@media (max-width: 1200px) {

}

/* iPad Air Landscape mode */

@media (max-width: 1180px) {
    .navbar {
        &__link {
            transform: none;
            &:hover {
                letter-spacing: normal;
            }
        }
    }
}

/* iPad Mini Landscape mode */

@media (max-width: 1024px) {
    .container {
        width: 1000px;
    }
    .navbar {
        &__link {
            transform: none;
            &:hover {
                letter-spacing: normal;
            }
        }
    }
    .types {
        &__layout {
            padding: 0 20px 0 20px;
        }
    }
    .presentation {
        &__layout {
            display: grid;
            grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        }
        &__block {
            margin: 0 auto;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 900px;
    }
    .types {
        &__layout {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 40px;
        }
    }
    .card {
        &__container {
            margin: 0 auto;
        }
    }
}

/* iPad Air Portrait mode */

@media (max-width: 820px) {
    .container {
        width: 740px;
    }
    .title {
        padding: 10px;
    }
    .navbar {
        &__link {
            transform: none;
            &:hover {
                letter-spacing: normal;
            }
        }
    }
    .types {
        &__layout {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 40px;
        }
    }
    .presentation {
        &__layout {
            margin-top: 150px;
            display: grid;
            grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        }
    }
}

/* smartphones */

@media (max-width: 768px) {
    .container {
        width: 750px;
    }
    .navbar {
        &__list {
            z-index: 20;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0, .8);
            transition: 0.6s all;
            &-active {
                left: 0;
            }
        }
        &__item {
            padding-right: 0;
            margin: 10px 0;
        }
        &__link {
            font-size: 20px;
            text-align: left;
            transform: none;
            &:hover {
                letter-spacing: normal;
            }
        }
        &__burger {
            display: block;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 18px;
            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 2px;
                transition: all 0.6s;
            }
            &-active {
                span {
                    margin-bottom: -3px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
    }
    .card {
        &__container {
            margin: 0 auto;
        }
    }
    .math {
        &__container {
            gap: 20px;
        }
    }
    .physics {
        &__container {
            gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 35px;
        line-height: 42px;
    }
    .header {
        &__container {
            grid-template: 1fr / repeat(2, 1fr);
        }
    }
    .showcase {
        &__block {
            right: 25px;
        }
    }
    .types {
        &__layout {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
    .math {
        &__container {
            display: flex;
            flex-direction: column-reverse;
        }
        &__descr {
            padding: 0 20px 0 20px;
        }
        &__img {
            display: none;
        }
    }
    .physics {
        &__container {
            display: flex;
            flex-direction: column-reverse;
        }
        &__descr {
            padding: 0 20px 0 20px;
        }
        &__img {
            display: none;
        }
    }
    .presentation {
        &__subtitle {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

/* 414px for iPhone XR */

@media (max-width: 414px) {
    .container {
        width: 385px;
    }
    .showcase {
        &__block {
            right: 50px;
        }
        &__btn {
            width: 100%;
        }
    }
    .types {
        &__title {
            width: 75%;
        }
        &__layout {
            margin-top: 100px;
        }
    }
    .m-showcase {
        &__block {
            left: 50px;
        }
        &__btn {
            width: 100%;
        }
    }
    .presentation {
        &__layout {
            display: flex;
            flex-direction: column;
        }
    }
}

/* iPhone SE */

@media (max-width: 375px) {
    .container {
        width: 350px;
    }
    .showcase {
        &__block {
            width: 100%;
            bottom: 0;
            right: 0;
        }
        &__btn {
            width: 75%;
        }
    }
    .modal {
        width: 80%;
        &__subtitle {
            display: none;
        }
    }
    .m-showcase {
        &__block {
            width: 100%;
            bottom: 0;
            left: 0;
        }
        &__btn {
           width: 75%;
        }
    }
}